<section id="cart_items"> 
  <div class="container">
     <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li class="active">My Orders</li>
      </ol>
    </div>
    <div class="table-responsive cart_info">
        <table class="table table-condensed">
          <thead>
            <tr class="cart_menu">
              <td class="">OrderID</td>
              <td class="">Time</td>
              <td class=""></td>
              <!-- <td class=""></td> -->
              <td></td>
              <td class="">Status</td>
            </tr>
          </thead>
          <tbody>
            <% @user_order.each do |order| %>
                  <tr>
                    <td><%= order.order.id %></td>
                    <td><%= order.created_at.strftime("%d %b %Y") %></td>
                    <td><%= link_to "Show", order_path(:id => order.order.id), :class=>"btn btn-default check_out" %></td>
                    <td></td>
                    <td><%= order.status %></td>
                  </tr>
                <% end %>
          </tbody>  
            </table>
    </div>
  </div>
</section>
