<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><%= link_to "Home", root_path %></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
							<% @cart_products.each do |product,v|%>
						 <tr id="reduce_product_<%= product.id%>">
							<td class="cart_product">
								 
									<% if product.product_images.count > 0 %> 
									<%= image_tag(product.product_images.first.image.url ) %>
									<% else %>
									<%= image_tag("home/gallery3.jpg", alt: "") %>
									<% end %>									
							</td>
							<td class="cart_description">
								<h4><%= link_to product.name%></h4>							
							</td>
							<td class="cart_price">
								Rs.<%= product.price %>							
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<%= link_to "+",user_carts_add_path(:product_id => product), :class=>"cart_quantity_up", remote: true %>

									<input class="cart_quantity_input product_<%=product.id%>" type="text" name="quantity" value=<%= v[:quantity]%> autocomplete="off" size="2">
									<!-- <a class="cart_quantity_down" href=""> - </a> -->
									<%= link_to "-",user_carts_reduce_path(:product_id => product), :class=>"cart_quantity_down", remote: true %>									
								</div>
							</td>
							<td class="cart_total_product_<%=product.id%>">
								Rs.<%= v[:total_price]%>
								<% @total=@total +  v[:total_price]%>
								
								<!-- <p class="cart_total_price">$59</p> -->
							</td>
							<td class="cart_delete">
								<%= link_to '<i class="fa fa-times"></i>'.html_safe,user_carts_remove_path(:product_id => product), :class=>"cart_quantity_delete",
								method: :delete,
              data: { confirm: 'Are you sure?' } %>
            </td>
									

								<!-- <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a> -->
							
						</tr>						
					</tbody>
					
					<% end %>
				</table>
			<div class="pull-right">
		<div class="col-sm-6">
					<!-- <div class="total_area"> -->
						<!-- <ul> -->
							<!-- <li>Cart Sub Total <span><%= @total %></span></li> -->
							<!-- <li>Eco Tax <span>$2</span></li> -->
							<!-- <li>Shipping Cost <span>Free</span></li> -->
							<!-- <li>Total <span><%= @total %></span></li> -->
						<!-- </ul> -->
							<!-- <a class="btn btn-default update" href="">Update</a> -->
							<%= link_to "Proceed to Check Out", user_carts_checkout_path, :class=>"btn btn-default check_out"%></div>
							<!-- <a class="btn btn-default check_out" href="">Check Out</a> -->
					<!-- </div> -->
		</div>
			</div>
		</div>
